<IfModule mod_rewrite.c>
    RewriteEngine on


    #RewriteCond %{SERVER_PORT} 80
	#RewriteRule ^(.*)$ https://phpstack-418887-1372636.cloudwaysapps.com/$1 [R,L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?/$1 [L,QSA]
</IfModule>